name: iOS Build

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and Check Syntax
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Build
        run: |
          xcodebuild build \
            -project SampattiTrack/SampattiTrack.xcodeproj \
            -scheme SampattiTrack \
            -destination 'platform=iOS Simulator,name=Any iOS Simulator Device' \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGNING_ALLOWED=NO
